beautifulsoup4==4.9.3
blinker==1.4
click==7.1.2
decorator==4.4.2
Faker==6.1.1
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
geographiclib==1.50
geopy==2.1.0
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
nominatim==0.1
numpy==1.19.5
psycopg2-binary==2.8.5
python-dateutil==2.8.1
python-http-client==3.3.2
pytz==2021.1
selenium==3.141.0
sendgrid==6.6.0
six==1.15.0
soupsieve==2.2
SQLAlchemy==1.3.23
SQLAlchemy-Searchable==1.2.0
SQLAlchemy-Utils==0.36.8
sqlitis==0.0.5
sqlparse==0.3.0
starkbank-ecdsa==1.1.0
text-unidecode==1.3
urllib3==1.26.3
validators==0.18.2
Werkzeug==1.0.1
