/* .alert-error {
    background-color: red;
    color: white;
  }
  
.alert-info {
    background-color: yellow;
    color: black;
  } */

h1.nav {
    font-family: 'Eczar', serif;
    display: block;
    letter-spacing: 0.1em;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.5em;
    font-weight: 500;
}

h1.homepage {
    font-family: 'Eczar', serif;
    letter-spacing: 5px;
    display: block;
    font-size: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

h3.homepage {
    font-family: 'Eczar', serif;
    letter-spacing: 2px;
    display: block;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
}

#flash_msg {
    text-align: center;
    margin-bottom: 0;
    color: rgb(170, 170, 170);
    font-weight: bold;
}

.form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: auto;
}

.homepage {
    display: flex !important;
}

#homepage {
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* background: rgba(0, 0, 0, 0.4); */
    width: 500px;
    padding: 16px 32px;
}

#homepage-search-div {
    flex: 1 0 auto;
    flex-direction: row;
    width: 100%;
}

/* #homepage-header {
    color: white;
} */

#homepage-search-bar {
    flex: 1 1 auto;
}

#homepage-search-btn {
    flex: 1 0 auto;
    margin: 0 0 0 12px;
}

#homepage-logo {
    padding: 16px;
}

.home-content {
    background-color: SlateGray;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.home-content .card-img-overlay img {
    max-height: 40rem;
}

.overlay-div{
  height:100%;
  width: 100%;
  position:absolute;
  background-color:#000;
  opacity:.7;
}

.form-control {
    font-size: 14px;
}

.hidden {
    display: none;
}

.edit {
    display: inline-block;
}

.select2 {
    width: 400px;
}

.btn-primary {
    background-color: #00A6A6;
}

.)btn-primary:hover {
    background-color: #019191;
}

.btn-primary:active {
    background-color: #019191 !important;
}

.btn-primary:focus {
    background-color: #019191 !important;
    box-shadow: 0 0 0 0 !important;
}

.btn-primary.dropdown-toggle {
    background-color: #00A6A6;
    border: 0;
}

.btn-primary.dropdown-toggle:focus {
    background-color: #019191 !important;
    box-shadow: 0 0 0 0;
}

.btn-secondary {
    background-color: #456990;
    border-color: #456990;
}

.btn-secondary:hover {
    background-color: #3e5e81;
    border-color: #3e5e81;
}

.btn-secondary:active {
    background-color: #3e5e81;
    border-color: #3e5e81;
}

.btn-secondary:focus {
    background-color: #3e5e81;
    border-color: #3e5e81;
}


.btn-danger {
    background-color: #FF8360;
    border-color: #FF8360;
}

.btn-danger:hover {
    background-color: #ee7b5b;
    border-color: #ee7b5b;
}

.btn-danger:active {
    background-color: #ee7b5b;
    border-color: #ee7b5b;
}

.btn-danger:focus {
    background-color: #ee7b5b;
    border-color: #ee7b5b;
}

.btn-link {
    color: #00A6A6;
    padding-top: 0;
}

.btn-link:hover {
    color: #019191;
}

.btn-link:active {
    color: #019191;
}

.btn-link:focus {
    color: #019191;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #e0dede;
}

.nav-link:active {
    color: #e0dede;
}

.nav-link:focus {
    color: #e0dede;
}

#navbar-logo {
    height: 50px;
}

.dropdown-menu{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 0;
}

.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.card {
    color: black;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 8px 0;
}

.card:hover {
    color: black;
    text-decoration: none;
}

.card-img {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* Styling for place details */
.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

.place,
p {
    font-family: 'open sans', arial, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
}

.details {
    color: darkslategrey;
}

a {
    text-decoration: none;
    color: cadetblue;
}

.footer { 
    font-size:.875rem;
    color:#63707c
}

.footer a {
    font-weight:600;
    color:#495057
}

.footer a:hover,
.footer a:focus {
    color:#0d6efd
}