{% extends 'base.html' %}
{% block title %}Bookish Bay Area Home{% endblock %}

{% block head %}
{% endblock head %}
{% block body %}

<div class="card text-white">
  <img src="static/img/sf.jpg" alt="Background image of the Golden Gate Bridge in San Francisco">
 <div class="overlay-div"></div>
  <div class="card-img-overlay d-flex container">

    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="row justify-content-center">
            <h3 class="homepage"><b><br>ABOUT BOOKISH</b></h3></div>
            <div class="row justify-content-center">
            <h5 style="text-align: center;"><br><b>Bookish Bay Area </b>was designed and built with love by <b>Yvonne Yeh</b>  </h5>
            <h6 style="text-align: center; line-height: 1.5;"><br><br> This app would not have been possible without the help of everyone at Hackbright Academy. <br>
            Special thanks to my advisor Andrew, instructor Kat, TAs Thu & Lucia, <br>and my Amiga housemates: Elizabeth, Fionnie, Jen, Katie, Nan 🤍</h6>
            </div>
            
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %} 
<!-- <footer class="footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start"> -->
    <footer class="footer p-md-5 bg-light text-center text-sm-start">
      <div class="container">
        <ul class="footer-links ps-0 mb-3">
          <li class="d-inline-block"><a href="/about">About</a></li> • 
          <li class="d-inline-block ms-3"><a href="/library-map">Library Map</a></li> • 
          <li class="d-inline-block ms-3"><a href="/books">Books</a></li> • 
          <li class="d-inline-block ms-3"><a href="/authors">Authors</a></li> • 
          <li class="d-inline-block ms-3"><a href="/users">Users</a></li> • 
          <li class="d-inline-block ms-3"><a href="/locations">Locations</a></li> • 
          <li class="d-inline-block ms-3"><a href="/genres">Genres</a></li> • 
          <li class="d-inline-block ms-3"><a href="/ratings">Ratings</a></li>
        </ul>
        <p class="mb-0">Designed and built with love by <a href="https://yvonneyeh.com">Yvonne Yeh</a> with the help of everyone at <a href="https://hackbrightacademy.com/">Hackbright Academy</a>.</p>
      </div>
    </footer>
{% endblock footer%}