{% extends 'base.html' %}
{% block title %}All Books{% endblock %}

{% block body %}

<!-- MAP -->
<div id="map-canvas" style="height:500px"></div>

<script>
function initMap() {

//   const defaultLocation = new google.maps.LatLng(37.787971,-122.418472)
// Default Stanford
// const defaultLocation = new google.maps.LatLng(37.4275,-122.1697)
// Default Dumbarton Bridge
const defaultLocation = new google.maps.LatLng(37.5048,-122.1204)

  var contentString =
      '<div id="content">'+ "<p></p>"+'</div>';

  const mapOptions = {
    zoom: 9,
    center: defaultLocation,
    styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#b9d3c2"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  }
]
  };

  const map = new google.maps.Map(
      document.getElementById('map-canvas'),
      mapOptions);

  const infoWindow = new google.maps.InfoWindow({
      maxwidth: 200
  });

  const locations = {{ book_locations|tojson|safe }};
  console.log("locations = ", locations);

  // Attach markers to each location in returned JSON
        var location, marker, contentString;

        for (var key in locations) {
            location = locations[key];

            // Define the marker
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(location.lat, location.lng),
                map: map,
                title: location.name,
                animation: google.maps.Animation.DROP,
                icon: {
                    size: new google.maps.Size(50, 50),
                    scaledSize: new google.maps.Size(35, 35),
                    url: "/static/img/book.svg"
                }
            });

            // Define the content of the infoWindow
            contentString = (
                '<div class="window-content">' +
                    location.name +
                '</div>');

      // Inside the loop call bindInfoWindow passing it the marker,
      // map, infoWindow and contentString
      bindInfoWindow(marker, map, infoWindow, contentString);
    }

// This function is outside the for loop.
    // When a marker is clicked it closes any currently open infowindows
    // Sets the content for the new marker with the content passed through
    // then it open the infoWindow with the new content on the marker that's clicked
    function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.close();
            infoWindow.setContent(html);
            infoWindow.open(map, marker);
        });
    }
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<!-- Script to capture interaction with save & read buttons on book details page -->
<script src="/static/js/bookpagebuttons.js"></script>

<!-- Google Maps JS API script -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{MAPS_JS_KEY}}&callback=initMap">
</script>



<br>
<div class="container">
  <div class="row align-items-center">
    
      <div class="row justify-content-center">
<div class="col">
        <form id="genre_search" action="/books">
          <label for="genre">Filter by Genre:</label>
          <br>
            <select class="form-control" name="genre" id="genre">

              <option value="All">All</option>
              <option value="Biography">Biography</option>
              <option value="Business">Business</option>
              <option value="Contemporary">Contemporary</option>
              <option value="Cookbooks">Cookbooks</option>
              <option value="Fiction">Fiction</option>
              <option value="Graphic Novels">Graphic Novels</option>
              <option value="History">History</option>
              <option value="LGBT">LGBT</option>
              <option value="Memoir">Memoir</option>
              <option value="Nonfiction">Non-Fiction</option>
              <option value="Philosophy">Philosophy</option>
              <option value="Psychology">Psychology</option>
              <option value="Science">Science</option>
              <option value="Sci-Fi">Sci-Fi</option>
              <option value="Sports">Sports</option>
              <option value="Travel">Travel</option>
            </select>
          </form>
        </div>
      </div>
      <div class="col">
          <form id="title_search" action="/books">
            <input type="text" class="form-control" name="title_search" id="title_search" placeholder="Search for books by title" size="50">
            
            <input type="submit" class="btn btn-primary" value="Title Search">

          </form>
      </div>
      <div class="col">
          <form id="author_search" action="/books">
            <input type="text" class="form-control" name="author_search" id="author_search" placeholder="Search for books by author" size="50">
        
            <input type="submit" class="btn btn-primary" value="Author Search">
      </div>
          </form>
        
        <div class="col">
          <form id="loc_search" action="/books">
            <input type="text" class="form-control" name="loc_search" id="loc_search" placeholder="Search for books by location" size="50">
            
            <input type="submit" class="btn btn-primary" value="Location Search">

          </form>
      </div>
</div>
      </div>
    </div>
  </div>
</div>

<br>

<ul>
{% endblock body %}
{% block content %} 
  {% for book in books %}

  <li>
      <a href="/books/{{book.book_id}}">{{ book.title }}</a>
  </li>
  
{% endfor %}
</ul>

<script>
  var selectedGenre = "{{ genre }}";
  if (selectedGenre !== "None") {
    var optionToSelect = $("option[value=" + selectedGenre +"]");
    optionToSelect.prop("selected", true);
  }
  
  $("#genre").on("change", function (evt) {
    $("#genre_search").submit();
  });
  
</script>

{% endblock content %}
