{% extends 'base.html' %}
{% block title %}All Locations{% endblock %}

{% block body %}

<form id="loc_search" action="/locations">
  <input type="text" class="form-control" name="loc_search" id="loc_search" placeholder="Search for locations by name" size="50">

  <input type="submit" \
  class="submit_button"\
  value="Search for location">

</form>


<ul>
{% for location in locations %}

  <li>
      <a href="/locations/{{location.loc_id}}">{{ location.name }}</a> – ID: <b>{{ location.loc_id }}</b>
  </li>
  
{% endfor %}
</ul>
{% endblock body %}
