{% extends 'base.html' %}
{% block title %}All Ratings{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock head %}

{% block body %}
{% endblock body %}

{% block content %}

{% set count1 = namespace(value=0) %}
{% set count2 = namespace(value=0) %}
{% set count3 = namespace(value=0) %}
{% set count4 = namespace(value=0) %}
{% set count5 = namespace(value=0) %}

{% for rating in ratings %}
  {% if rating.score == 1 %}
  {% set count1.value = count1.value + 1 %}
  
  {% elif rating.score == 2 %}
  {% set count2.value = count2.value + 1 %}
  
  {% elif rating.score == 3 %}
  {% set count3.value = count3.value + 1 %}
  
  {% elif rating.score == 4 %}
  {% set count4.value = count4.value + 1 %}
  
  {% elif rating.score == 5 %}
  {% set count5.value = count5.value + 1 %}
  {% endif %}
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row justify-content-center">
      <h2>All Ratings on Bookish</h2>
      <canvas id="ratingChart" width="400" height="400"></canvas>
      <script>
      var ctx = document.getElementById('ratingChart').getContext('2d');
      var ratingChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['Score: 1', 'Score: 2', 'Score: 3', 'Score: 4', 'Score: 5'],
              datasets: [{
                  label: '# of Ratings',
                  data: [{{ count1.value }}, 
                        {{ count2.value }}, 
                        {{ count3.value }}, 
                        {{ count4.value }},
                        {{ count5.value }},
                        ],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      </script>
      </div>
    </div>

    <div class="col-3">
      <br>
      <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 260px; max-height: 1000px;">
        <div class="row justify-content-center"><h4>Recent Ratings</h4></div>
      <ul>
      {% for rating in ratings %}

        <li>
            <a href="/books/{{rating.book_id}}">{{ rating.book.title }}</a><br>
            Reader: <b>{{ rating.user.username}}</b>
            Score: <b>{{ rating.score }}</b> <br>
        </li>
        
      {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>Recent Ratings</h2>
  <div class="form-group">
    <select id="book-select" class="form-control custom-select">
        <option value="0" disabled selected>Select Book</option>
        {% for rating in ratings %}
        <option value="{{ rating.book.book_id }}">{{ rating.book.title }}</option>
        {% endfor %}
      </select>
  </div>
  <div class="form-group">
    <input type="number" id="rating-control" class="form-control" step="1" max="5" placeholder="Rate 1 - 5" disabled>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for rating in ratings %}
        <tr class="sony">
      <td><a href="/books/{{rating.book_id}}">{{ rating.book.title }}</a><br></td>
      <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

<script>
// Initial Ratings
    const ratings = {

      {% for rating in ratings %}
      {{ rating.book.title }}: {{ rating.score }},
      {% endfor %}

      Homegoing: 5
    }
    console.log(ratings)

    // Total Stars
    const starsTotal = 5;

    // Run getRatings when DOM loads
    document.addEventListener('DOMContentLoaded', getRatings);

    // Form Elements
    const bookSelect = document.getElementById('book-select');
    const ratingControl = document.getElementById('rating-control');

    // Init book
    let book;

    // Product select change
    bookSelect.addEventListener('change', (e) => {
      book = e.target.value;
      // Enable rating control
      ratingControl.disabled = false;
      ratingControl.value = ratings[book];
    });

    // Rating control change
    ratingControl.addEventListener('blur', (e) => {
      const rating = e.target.value;

      // Make sure 5 or under
      if (rating > 5) {
        alert('Please rate 1 - 5');
        return;
      }

      // Change rating
      ratings[book] = rating;

      getRatings();
    });

    // Get ratings
    function getRatings() {
      for (let rating in ratings) {
        // Get percentage
        const starPercentage = (ratings[rating] / starsTotal) * 100;

        // Round to nearest 10
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

        // Set width of stars-inner to percentage
        document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;

        // Add number rating
        document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
      }
    }

</script>

{% endblock content%}