<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- <a href="/">Bookish Home</a> -->
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Favicon -->

    {% block head %}
    {% endblock %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>

  <body>
    

    <!-- Navigation Bar -->
    
    <nav class="navbar navbar-expand">
      <a class="navbar-brand" href="/">Bookish</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/books">Search For Books</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item hidden" id="log_book" style="display:None">
            <a class="nav-link" href="/log_book">Log a Book</a>
          </li>
          <li class="nav-item dropdown" id="account" style="display:None">
            <a class="nav-link dropdown-toggle" href="#" id="AcctDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <!-- Link to toggle dropdown -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="AcctDropDown">
              <a class="dropdown-item" href="/account/update_info">
                Update Account Info
              </a>
              <a class="dropdown-item" href="/account/change_password">
                Change Password
              </a>  
              <a class="dropdown-item" href="/account/saved_books">
                Saved Books
              </a>         
              <a class="dropdown-item" href="/account/read_books">
                Book Ratings
              </a>      
            </div>
          </li>
          <li class="nav-item" id="register" style="display:None">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item" id="login" style="display:None">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item" id="logout" style="display:None">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
  </nav>
    

    <!-- Flashed Messages -->
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>


  {% endfor %}
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}
    {% block content %} {% endblock %}
    {% block map %} {% endblock %}

    <!-- Display navbar buttons based on login state -->
    <script src="/static/js/togglenavbar.js"></script>
  </body>
</html>


