<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <a href="/">Bookish Home</a>
    {% block head %}
    {% endblock %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery.js"></script>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}
    {% block content %} {% endblock %}
    {% block map %} {% endblock %}
  </body>
</html>


