<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <a href="/">Bookish Home</a>
    <title>{% block title %}{% endblock %}</title>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha512-XwIBPqcMn57FxfT+Go5pzySnm4KWkT1Tv7gjrpT1srtf8Weynl6R273VJ5GjkRb51IzMp5nbaPjJXMWeju2MKg=="
    crossorigin="anonymous"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Favicon -->

    {% block head %}
    {% endblock %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery.js"></script>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}
    {% block content %} {% endblock %}
    {% block map %} {% endblock %}
  </body>
</html>


