{% extends 'base.html' %}
{% block title %}{{ book.title }} - Details{% endblock %}
{% block head %}
{% endblock %}

{% block body %}

<div class="container"><br>
    <!-- <div class="row"> -->
        <h1 class="title">{{ book.title }}</h1>
    <!-- </div> -->
    <!-- <div class="row"> -->
        {% if author %}
        <h3>by <a href="/authors/{{author.author_id}}">{{ author.name }}</a></h3>
        <br>
        {% endif %}

<!-- Buttons to Save/Read/Locate/Rate books -->
  <div class="d-flex justify-content-end">
    <div class="row">
        <div class="col text-right">
            <!-- Button to redirect to add book-loc page -->
            <!-- <button type="button" class="btn btn-primary" id="new-loc" onclick="window.location.href='/add/book-loc';">
                Add New Location
            </button> -->
            <!-- <button type="button" class="btn btn-primary" id="new-loc">
                Add New Location
            </button> -->
            <button type="button" class="btn btn-primary" id="new-loc" onclick="toggleLocForm()">
                Add New Location
            </button>
            <button type="button" class="btn btn-primary" id="rate-button" onclick="toggleRateForm()">
              Add Rating
          </button>
            <button type="button" class="btn btn-primary" id="save-button">
                Save Book
            </button>
            <button type="button" class="btn btn-primary hidden" style="display:None" id="unsave-button">
                Unsave Book
            </button>
            <button type="button" class="btn btn-primary" id="read-button">
                Mark As Read
            </button>
            <button type="button" class="btn btn-primary hidden" style="display:None" id="unread-button">
                Mark As Not Read
            </button>
        </div>
    </div>
    </div>
    
<!-- Add Location Form -->
  <div class="d-flex justify-content-end">
    <div class="row">
        <div class="col w-25">
    <div id="new-loc-form" style="display:None">
      <br>
      <form action="/books/{{ book.book_id }}" method="POST" id="new-loc-form">
        <label for="location">Select a Location to Add to this Book</label>
        <select name="location" class="form-control" id="location" required>
            <option value="starter" selected>Select BookSpot</option>
            {% for location in locations %}
            <option value="{{location.name}}">{{ location.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary">
    </form>
    </div>
  </div>

  <div class="col w-25">
    <div class="form-group" id="rate-form" style="display:None">
      <br>
      <input type="number" class="form-control" step="1" max="5" placeholder="Rate 1 - 5" >
      <input type="submit" class="btn btn-primary">
  </div>
</div>


  </div>
</div>
<!-- Add Rating Form -->
    

    

    <div class="d-flex justify-content-end">
      <div class="row">
    <div class="form-group" id="rate-form" style="display:None">
      <br>
      <input type="number" class="form-control" step="1" max="5" placeholder="Rate 1 - 5" >
      <input type="submit" class="btn btn-primary">
  </div>
</div>
</div>

        <div class="row">
            <div class="col-4">
                <br>
                <img src="{{ book.cover_path }}" 
                    alt="Cover image of {{ book.title }}" 
                    style="padding-bottom: 20px;"
                    width="200"><br>
            </div>
            
            <div class="col-8">
                {% if book.description != "null"%}
                <br>
                <span class="book_detail_content"> {{ book.description }}</span>
                <br><br>
                {% endif %}
                {% if book.link %}
                <a href="{{ book.link }}">View this book on Goodreads</a>
                <br>
                {% endif %} <br>
                {% if book.isbn %}
                <span class="book_detail_label"><b>ISBN: </b></span> 
                <span class="book_detail_content">{{ book.isbn }}</span>
                <br>
                {% endif %} <br>

                {% if book_locs %} 
                <b>Book Spots: </b> <br>
                {% for bl in book_locs %}
                <a href="/locations/{{bl.location.loc_id}}">{{ bl.location.name }}</a><br>
                {% endfor %}
                {% endif %}
                <br>
            </div>

          </div>
        
    <!-- </div> -->
</div>
{% endblock %}

{% block map %}
<div id="map-canvas" style="height:500px"></div>
<script>
function initialize() {

// HB Default Loc
  // const defaultLocation = new google.maps.LatLng(37.787971,-122.418472)
  // const defaultLocation = new google.maps.LatLng(37.786220,-122.432210)
  const defaultLocation = new google.maps.LatLng(37.4419,-122.1430)

  var contentString =
      '<div id="content">'+ "<p></p>"+'</div>';

  const mapOptions = {
    zoom: 11,
    center: defaultLocation,
    styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#b9d3c2"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  }
]
    // mapId: 'a72aa248840e8771'
  };

  const map = new google.maps.Map(
      document.getElementById('map-canvas'),
      mapOptions);

  const infoWindow = new google.maps.InfoWindow({
      maxwidth: 200
  });

  const locations = {{ book_locations|tojson|safe }};
//   console.log("locations = ", locations);

  // Attach markers to each location in returned JSON
        var location, marker, contentString;

        for (var key in locations) {
            location = locations[key];
            // console.log("the key is ", key )

            // Define the marker
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(location.lat, location.lng),
                map: map,
                title: location.name,
                animation: google.maps.Animation.DROP,
                icon: {
                    size: new google.maps.Size(50, 50),
                    scaledSize: new google.maps.Size(50, 50),
                    url: "/static/img/book.svg"
                }
            });

            // Define the content of the infoWindow
            contentString = (
                '<div class="window-content">' +
                    location.name +
                '</div>');

      // Inside the loop call bindInfoWindow passing it the marker,
      // map, infoWindow and contentString
      bindInfoWindow(marker, map, infoWindow, contentString);
    }

// This function is outside the for loop.
    // When a marker is clicked it closes any currently open infowindows
    // Sets the content for the new marker with the content passed through
    // then it open the infoWindow with the new content on the marker that's clicked
    function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.close();
            infoWindow.setContent(html);
            infoWindow.open(map, marker);
        });
    }
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<!-- Script to toggle form to submit a new book-location -->
<script>
    function toggleLocForm() {
    var x = document.getElementById("new-loc-form");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>



<!-- Script to capture interaction with save & read buttons on book details page -->
<script src="/static/js/bookpagebuttons.js"></script>

<!-- Google Maps JS API script -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{MAPS_JS_KEY}}&callback=initMap">
</script>

{% endblock %}



