{% extends 'base.html' %}
{% block title %}Bookish Bay Area Home{% endblock %}

{% block body %}
  <h1>Bookish Bay Area</h1>
  <h2>Find your next local literary adventure!</h2>


  <h3>Navigation</h3>
  <ul>
    <li><a href="/library-map">Library Map</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/authors">Authors</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/genres">Genres</a></li>
    <li><a href="/ratings">Ratings</a></li>
  </ul>

<div id="homepage-wrapper" class="homepage">
  <div id="homepage" class="homepage">
    <div class="form-group" id="homepage-search-div" class="homepage">
      <form id="title_search" action="/books">
      <!-- <input type="text" name="search" id="homepage-search-bar" class="form-control" class="homepage" placeholder="Search for books"> -->
      <input type="text" class="form-control" name="title_search" id="title_search" placeholder="Search for books by title" size="50">
      <input type="submit" class="btn btn-primary" value="Search" id="homepage-search-btn" class="homepage">
      <!-- <br><br> -->
      </form>
      <!-- <input type="submit" \
      class="submit_button"\
      value="Search"> -->
    </div>
  </div>
</div>

{% endblock %}