{% extends 'base.html' %}
{% block title %}Bookish Bay Area Home{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="card text-white">
  <img src="static/img/sf.jpg" alt="Background image of the Golden Gate Bridge in San Francisco">
 <!-- <div class="overlay-div"></div> -->
  <div class="card-img-overlay d-flex container">

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="row justify-content-center">
        <h1 class="homepage">Bookish Bay Area</h1></div>
        <div class="row justify-content-center">
        <h3 class="homepage">Find your next local literary adventure!</h3></div>
        
        <div class="row justify-content-center">
        <div class="w-50 input-group">
          <!-- class="form-control" -->
          <input type="text"  name="title_search" id="title_search" aria-label="Book search form with dropdown button for categories" placeholder=" Search for books by title, author, or location" size="50">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/books?title_search=homegoing">Title</a>
              <a class="dropdown-item" href="#">Author</a>
              <a class="dropdown-item" href="#">Location</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="/books">Search All</a>
            </div>
          </div>
        </div></div>



        <!-- <div class="row justify-content-center">
          <form id="title_search" action="/books">
            <div class="form-row">
            <div class="col"></div>
            <div class="w-75"><input type="text" class="form-control" name="title_search" id="title_search" placeholder="Search for books by title" size="50"></div>
            <div class="col"><input type="submit" class="btn btn-primary" value="Search" id="homepage-search-btn" class="homepage"></div>
            </form></div></div> -->
          

</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block footer %} 
    <footer class="footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
      <div class="container">
        <ul class="footer-links ps-0 mb-3">
          <li class="d-inline-block"><a href="/about">About</a></li> • 
          <li class="d-inline-block ms-3"><a href="/library-map">Library Map</a></li> • 
          <li class="d-inline-block ms-3"><a href="/books">Books</a></li> • 
          <li class="d-inline-block ms-3"><a href="/authors">Authors</a></li> • 
          <li class="d-inline-block ms-3"><a href="/users">Users</a></li> • 
          <li class="d-inline-block ms-3"><a href="/locations">Locations</a></li> • 
          <li class="d-inline-block ms-3"><a href="/genres">Genres</a></li> • 
          <li class="d-inline-block ms-3"><a href="/ratings">Ratings</a></li>
        </ul>
        <p class="mb-0">Designed and built with love by <a href="https://yvonneyeh.com">Yvonne Yeh</a> with the help of everyone at <a href="https://hackbrightacademy.com/">Hackbright Academy</a>.</p>
      </div>
    </footer>
{% endblock footer%}