{% extends 'base.html' %}
{% block title %}Bookish Bay Area Home{% endblock %}

{% block body %}
  <h1>Bookish Bay Area</h1>
  <h2>Find your next local literary adventure!</h2>


  <h3>Navigation</h3>
  <ul>
    <li><a href="/login">Sign Up / Log In</a></li>
    <li><a href="/map">Library Map</a></li>
    <li><a href="/books">View all books</a></li>
    <li><a href="/authors">View all authors</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/locations">View all locations</a></li>
  </ul>

  <form id="title_search" action="/books">
    <input type="text" class="form-control" name="title_search" id="title_search" placeholder="Search for books by title" size="50">
    <br><br>

    <input type="submit" \
    class="submit_button"\
    value="Search">

  </form>

{% endblock %}