{% extends 'base.html' %}

{% block title %}{{ location.name }} - Details{% endblock %}
{% block head%}

<div class="row text-center text-lg-left">
  {% for book in book_locs  %}
  <div class="col-lg-3 col-md-4 col-6">
    <a href="/books/{{bookbook..book_id}}" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{ book.book.cover_path }}" alt="Cover image of {{ book.book.title }}, links to book details page">
        </a>
  </div>
  {% endfor %}
</div>

<div class="float-right w-25">

  <div class="row text-center text-lg-left">
    {% if book_locs %}
    {% for book in book_locs %}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="/books/{{book.book_id}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ book.cover_path }}" alt="Cover image of {{ book.title }}, links to book details page">
          </a>
    </div>
    {% endfor %}
    {% endif %}
  </div>

{% if book_locs %}
    <h2>Books set @ {{ location.name }}</h2>
<ul>
  {% for book in book_locs %}

  <li>
    <a href="/books/{{book.book.book_id}}">{{ book.book.title }}</a>
  </li>
{% endfor %}
{% endif %}
</div>

<div class="google-maps" id="map"></div>

<style>
  .google-maps {
      position: relative;
      padding-bottom: 75%; // This is the aspect ratio
      height: 0;
      overflow: hidden;
      width: 60% !important;
      height: 100% !important;
  }
  
</style>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      function initMap() {
        console.log({ lat: {{ location.lat }}, lng: {{ location.lng }} })
        const myLatLng = { lat: {{ location.lat }}, lng: {{ location.lng }} };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: myLatLng,
          mapId: 'a72aa248840e8771'
        });
        new google.maps.Marker({
          position: myLatLng,
          map,
          title: "{{ location.name }}",
        });
      }
    </script>
{% endblock %}

{% block body %}
    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!-- Google Maps JS API script -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_JS_KEY}}&callback=initMap">
    </script>

  {% endblock %}

  {% block content %}

{% endblock content %}