{% extends 'base.html' %}

{% block title %}{{ location.name }} - Details{% endblock %}
{% block head%}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      function initMap() {
        console.log({ lat: {{ location.lat }}, lng: {{ location.lng }} })
        const myLatLng = { lat: {{ location.lat }}, lng: {{ location.lng }} };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: myLatLng,
        });
        new google.maps.Marker({
          position: myLatLng,
          map,
          title: "{{ location.name }}",
        });
      }
    </script>
{% endblock %}

{% block body %}
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!-- Google Maps JS API script -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_JS_KEY}}&callback=initMap">
    </script>
{% endblock %}
