{% extends 'base.html' %}

{% block title %}{{ location.name }} - Details{% endblock %}
{% block head%}

<div class="container-fluid float-right w-50 align-items-center">
  <div class="col">



{% if book_locs %}

    <br>
    <h1>{{ location.name }}{% if location.city %}, {{ location.state }}{% endif %}</h1>
    
    <b>Coordinates:</b> ({{location.lat}}, {{location.lng}})
    
    <br><br>   
    <h3><u>Setting of:</u></h3>

  <div class="row text-center text-lg-left">
    {% for book in book_locs %}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="/books/{{book.book_id}}" class="d-block "><br>
        <img class="img-fluid img-thumbnail" src="{{ book.book.cover_path }}" style="width: 100px;" alt="Cover image of {{ book.book.title }}, links to book details page">
      </a>
    </div>
    {% endfor %}
  </div>
<br>

<ul>
  {% for book in book_locs %}

  <li>
    <a href="/books/{{book.book.book_id}}">{{ book.book.title }}</a><br>
    <!-- <a href="/books/{{book.book_id}}" class="d-block "><br>
      <img class="img-fluid img-thumbnail" src="{{ book.book.cover_path }}" style="width: 100px;" alt="Cover image of {{ book.book.title }}, links to book details page">
    </a><br> -->
  </li>
{% endfor %}
{% endif %}
</div>
</div>

<div class="google-maps w-50" id="map"></div>

<style>
  .google-maps {
      position: relative;
      padding-bottom: 75%; // This is the aspect ratio
      height: 0;
      overflow: hidden;
      width: 50% !important;
      height: 100% !important;
  }
  
</style>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      function initMap() {
        console.log({ lat: {{ location.lat }}, lng: {{ location.lng }} })
        const myLatLng = { lat: {{ location.lat }}, lng: {{ location.lng }} };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: myLatLng,
          styles: [
                {
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#ebe3cd"
                    }
                  ]
                },
                {
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#523735"
                    }
                  ]
                },
                {
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#f5f1e6"
                    }
                  ]
                },
                {
                  "featureType": "administrative",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#c9b2a6"
                    }
                  ]
                },
                {
                  "featureType": "administrative.land_parcel",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#dcd2be"
                    }
                  ]
                },
                {
                  "featureType": "administrative.land_parcel",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#ae9e90"
                    }
                  ]
                },
                {
                  "featureType": "landscape.natural",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#dfd2ae"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#dfd2ae"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#93817c"
                    }
                  ]
                },
                {
                  "featureType": "poi.business",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "poi.park",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#a5b076"
                    }
                  ]
                },
                {
                  "featureType": "poi.park",
                  "elementType": "labels.text",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "poi.park",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#447530"
                    }
                  ]
                },
                {
                  "featureType": "road",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#f5f1e6"
                    }
                  ]
                },
                {
                  "featureType": "road.arterial",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#fdfcf8"
                    }
                  ]
                },
                {
                  "featureType": "road.arterial",
                  "elementType": "labels",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#f8c967"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#e9bc62"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "labels",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road.highway.controlled_access",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#e98d58"
                    }
                  ]
                },
                {
                  "featureType": "road.highway.controlled_access",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#db8555"
                    }
                  ]
                },
                {
                  "featureType": "road.local",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road.local",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#806b63"
                    }
                  ]
                },
                {
                  "featureType": "transit.line",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#dfd2ae"
                    }
                  ]
                },
                {
                  "featureType": "transit.line",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#8f7d77"
                    }
                  ]
                },
                {
                  "featureType": "transit.line",
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#ebe3cd"
                    }
                  ]
                },
                {
                  "featureType": "transit.station",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#dfd2ae"
                    }
                  ]
                },
                {
                  "featureType": "water",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#b9d3c2"
                    }
                  ]
                },
                {
                  "featureType": "water",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#92998d"
                    }
                  ]
                }
              ]
                  // mapId: 'a72aa248840e8771'

        });

        // Define the marker
        new google.maps.Marker({
          position: myLatLng,
          map,
          title: "{{ location.name }}",
          animation: google.maps.Animation.DROP,
          icon: {
              size: new google.maps.Size(100, 100),
              scaledSize: new google.maps.Size(100, 100),
              url: "/static/img/book-pin.svg"
          }
        });
      }
    </script>
{% endblock %}

{% block body %}
    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!-- Google Maps JS API script -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_JS_KEY}}&callback=initMap">
    </script>

  {% endblock %}

  {% block content %}

{% endblock content %}