{% extends 'base.html' %}
{% block title %}Bookish Bay Area | Login{% endblock %}

{% block body %}
<br>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="row justify-content-center">
        <h2>Log In</h2>
      </div>
      <div class="row justify-content-center">
        <div class="form-group" class="col-6 col-md-4">

          <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required minlength=5>
            <br>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <br>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}