{% extends 'base.html' %}
{% block title %}Bookish Bay Area | Login{% endblock %}

{% block head %}
<!-- Custom styles for Login Page -->
<link href="static/css/login.css" rel="stylesheet">
{% endblock %}

{% block body %}
<body class="text-center">
<form class="form-signin" action="/login" method="POST">
  <img class="mb-4" src="static/img/logo-solid.svg" alt="" width="72" height="72">

  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>

{% endblock %}