{% extends 'base.html' %}
{% block title %}Bookish Bay Area Home{% endblock %}

{% block body %}

<h1>Register</h1>

  <h2>Create an Account</h2>

<div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="row justify-content-center">
<form action="/register" method="POST">

    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required minlength=5>
    <br>
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
    <br>
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
    <br>
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
    <br>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    <br>
    <input type="submit" class="btn btn-primary">
</form>


{% endblock %}