{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">

  <div class="row align-items-center">
    <div class="col">
      <div class="row justify-content-center">
        <h4>Change your password</h4>
      </div>
      <div class="row justify-content-center">
        <form class="form-group" action="/account/change_password" method="POST">
          <label for="oldpass">Current password</label>
          <input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Current password">
          <label for="newpass">New password</label>
          <input type="password" class="form-control" id="newpass" name="newpass" placeholder="New password">
          <br>
          <input type="submit" class="btn btn-primary"> 
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}