{% extends 'base.html' %}

{% block title %}{{ user.username }} - Details{% endblock %}

{% block body %}
<br>
<div class="container"> 
<!-- <div class="row"><h2></h2></div> -->
<div class="row"><h3>{{ user.first_name }} {{ user.last_name }} (@{{ user.username }})</h3></div>
<!-- <h2>{{ user.email }}</h2> -->
<div class="row"><p>Date Joined: {{ user.join_date }}</p></div>
<div class="row"><p>Date Joined: {{ user.join_date }}</p></div>

<h3>Book Ratings</h3>
{% for rating in ratings %}

  <li>
      Score: <b>{{rating.score}}</b> — <a href="/books/{{rating.book.book_id}}">{{ rating.book.title }}</a>
  </li>
  
{% endfor %}
</div>

{% endblock %}