{% extends 'base.html' %}

{% block title %}@{{ user.username }} - Details{% endblock %}

{% block body %}
<br>
<div class="container"> 
<!-- <div class="row"><h2></h2></div> -->
<div class="row"><h2><b>{{ user.first_name }} {{ user.last_name }}</b> (@{{ user.username }})</h2></div>
<!-- <h2>{{ user.email }}</h2> -->

<div class="row">
  {% if user.city %}
  <div class="p-2">
  📍 {{ user.city }}</div>
{% endif %}
{% if user.website %}
<div class="p-2">🌐 {{ user.website }}</div>
{% endif %}
</div><br>

{% if user.pronouns %}
<div class="row"><p><b>Pronouns:</b> {{ user.pronouns }}</p></div>
{% endif %}



<div class="row"><p><b>Date Joined:</b> {{ user.join_date }}</p></div>

{% if ratings %}
<h3><u>Library</u></h3>
{% for rating in ratings %}

  <li>
      Score: <b>{{rating.score}}</b> — <a href="/books/{{rating.book.book_id}}">{{ rating.book.title }}</a>
  </li>
  
{% endfor %}
</div>
{% endif %}


<!-- Book Grid -->
<div class="container">

  <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">My Library of Saved Books:</h3>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
    {% for rating in ratings %}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="/books/{{rating.book.book_id}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ rating.book.cover_path }}" alt="Cover image of {{ rating.book.title }}, links to book details page">
          </a>
    </div>
    {% endfor %}
  </div>

</div>




{% endblock %}